body {
  font-family: "Imperial Script", cursive;
  text-align: center;
  font-weight: 900;
  margin: auto;
width: 60%;
  
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
  justify-items: center;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-family: "Imperial Script", cursive;
  margin-top: 8px;
  font-size: 1.2em;
}
	
